body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(41, 57, 57);
  color: white;
  width: 100%;
  height: auto;
}
.sidebar {
  height: 100%;
  max-width: 500px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 501;
  background-color: black;
  display: block;
  transition: width 0.8s ease;
  overflow-y: scroll;
}
.sidebar.showbar {
  width: 88%;
}
.close {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
  /* position: relative; */
}
.closeButton {
  padding-top: 40px;
  display: block;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
}
.closeButton span {
  position: relative;
  background-color: #cccccc;
  border-radius: 3px;
  display: block;
  height: 2px;
  padding: 2;
  transition-duration: 0.3s;
  width: 40px;
  cursor: pointer;
  right: 15px;
}
.closeButton span:nth-child(1) {
  padding: 1px;
  background-color: white;
  transform: rotate3d(0, 0, 1, 45deg);
  top: 4px;
}
.closeButton span:nth-child(2) {
  padding: 1px;
  background-color: white;
  transform: rotate3d(0, 0, 1, -45deg);
}
.sidebarContainer {
  padding: 40px 0;
}
.sidebarOption {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: medium;
  font-weight: 500;
  padding: 5px;
  transition: color 1s ease;
  /* border-bottom: 1px solid rgb(29, 28, 28); */
}
.sidebarOption:hover {
  color: #ffe400;
}
.sidebarHeader {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(29, 28, 28);
  line-height: 0.3;
}
/* #firstdrown {
  display: none;
} */

#firstDropdown ul {
  /* border: 1px solid green; */
  margin-left: 0;
  padding-left: 0;
}
#firstDropdown a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: medium;
}
#firstDropdown li {
  /* border: 1px solid blue; */
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(29, 29, 29);
}
#firstDropdown a:hover {
  color: #ffe400;
}
#secondDropdown ul {
  /* border: 1px solid green; */
  margin-left: 0;
  padding-left: 0;
}
#secondDropdown a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: medium;
}
#secondDropdown li {
  /* border: 1px solid blue; */
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(29, 29, 29);
}
#secondDropdown a:hover {
  color: #ffe400;
}
#thirdDropdown ul {
  /* border: 1px solid green; */
  margin-left: 0;
  padding-left: 0;
}
#thirdDropdown a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: medium;
}
#thirdDropdown li {
  /* border: 1px solid blue; */
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(29, 29, 29);
}
#thirdDropdown a:hover {
  color: #ffe400;
}
#firstDropdown {
  display: none;
}
#secondDropdown {
  display: none;
}
#thirdDropdown {
  display: none;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 20px;
}
.arrow:hover {
  border: solid #ffe400;
  border-width: 0 3px 3px 0;
}
.down {
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}
.up {
  transition: transform 0.3s ease;
  transform: rotate(-135deg);
}
.sidebarTrial {
  /* border: 1px solid green; */
  margin-top: -18px;
}
.sidebarTrial a {
  margin-left: 20px;
  font-size: larger;
  text-decoration: none;
  color: #ffe400;
  font-family: Roboto, sans-serif;
}
.sidebarButton {
  margin-left: 20px;
  margin-top: 40px;
  cursor: pointer;
  padding-bottom: 30px;
}
.sidebarButton a {
  padding: 10px 18px;
  text-decoration: none;
  color: black;
  background-color: #ffe400;
  font-family: Roboto, sans-serif;
  font-size: larger;
  text-align: center;
}
.header {
  position: sticky;
  top: 0;
  background-color: rgb(15, 15, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px;
  z-index: 500;
}
a img {
  border: 0;
  outline: 0 none;
}
.header-button-box {
  display: flex;
}
.progressBar {
  background-color: #717171;
  /* width: 100%; */
}
.myBar {
  /* position: relative; */
  background-color: rgb(246, 246, 16);
  width: 0.01%;
  height: 10px;
}
.ourOrganization {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.sketchImg img:hover {
  padding: 2px;
  border: 1px solid black;
}
.trainingOption img {
  box-shadow: 0 0 0 0 gray;
  transition: box-shadow 0.5s ease-in;
}
.trainingOption img:hover {
  box-shadow: 0 2px 5px 5px gray;
}
@media screen and (min-width: 990px) {
  .header-logo {
    margin-left: 15px;
  }
  /* .header-navBar ul {
    display: flex;
    align-items: center;
  }
  .header-navBar li {
    list-style-type: none;
    padding: 15px;
    font-size: 22px;
  } */
  .header-navBar {
    /* border: 1px solid green; */
    display: flex;
    width: 65%;
    justify-content: space-around;
  }
  .header-dropbtn {
    padding: 5px;
    font-size: 25px;
    border: none;
    color: white;
    background-color: rgb(15, 15, 36);
  }
  .header-dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2px;
  }
  .header-button {
    padding: 8px;
    /* margin: 5px; */
    font-size: 18px;
    /* background-color: rgb(186, 186, 17); */
    border-radius: 10px;
    font-weight: 600;
  }
  .header-dropdown-content a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: rgb(15, 15, 36);
    color: white;
    padding: 14px;
    font-size: 20px;
    z-index: 100;
  }
  .header-dropdown:hover .header-dropbtn {
    background-color: rgb(147, 147, 32);
  }
  .header-dropdown-content a:hover {
    background-color: rgb(147, 147, 32);
  }
  .header-dropdown:hover .header-dropdown-content {
    display: flex;
    flex-direction: column;
  }
  /* .header-navBar li:hover {
    background-color: rgb(147, 147, 32);
  } */
  .header-button:hover {
    font-size: 19px;
    background-color: rgb(255, 255, 7);
  }
  .firstLine {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: black;
  }
  .secondLine {
    font-family: "Times New Roman", Times, serif;
    margin-top: -60px;
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 900;
    color: rgb(226, 226, 19);
    padding: 10px;
  }
  .sketchContainer {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
  }
  .sketchImg {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(91, 89, 89);
  }

  .training {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
  }
  .trainingOption {
    display: inline;
  }
}
.gallery-container {
  position: relative;
  margin: auto;
  overflow-x: hidden;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
  top: 40%;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(255, 245, 245, 0.8);
}
.text {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numberText {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 990px) {
  .text {
    font-size: 15px;
    bottom: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  background-color: rgb(15, 15, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px;
  z-index: 500;
}
.offer {
  background: url(https://goldgymindia.net/uploads/slider/compress-workbaner.jpg);
  position: relative;
  background-position: center;
  display: flex;
  justify-content: space-around;
  width: 100%;

  /* background-repeat: no-repeat; */
}
.offer::before {
  background-color: rgba(0, 57, 97, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
}
.offerContainer {
  padding-top: 120px;
  padding-bottom: 80px;
  /* margin-right: auto;
  margin-left: auto; */
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 40%;
}
.offer h1 {
  font-size: 35px;
  font-weight: 400;
  color: #ffe400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.offer h2 {
  font-size: 25px;
  font-weight: 300;
  color: #ffe400;
}
.downloadAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 35px;
  /* margin: 5px; */
  position: relative;
}

.downloadApp {
  color: #ffe400;
  font-size: 23px;
  border: 2px solid yellow;
  padding: 15px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffe400;
  transition: 0.6s ease-in;
}

.downloadApp:hover {
  box-shadow: inset 20px 10px 120px 20px #ffe400;
  color: black;
  font-weight: 200;
}

.specialOffer {
  background-image: url(https://goldsgym.in/assets/frontend/css/off.jpg);
  /* height: 280px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.specialOffer::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 57, 97, 0.7);
  content: "";
}
.specialOfferContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 20px;
}
.specialLeft {
  width: 45%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.specialRight {
  width: 35%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.specialLeft h2 {
  font-size: 60px;
  color: #ffe400;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.specialLeft a {
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ffe400;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  width: 40%;
  color: #ffe400;
  box-shadow: inset 0 0 0 0 #ffe400;
  transition: 0.6s ease-in;
}
.specialLeft a:hover {
  box-shadow: inset 20px 10px 120px 20px #ffe400;
  color: black;
  font-weight: 200;
}
.specialRight h2 {
  font-size: 45px;
  color: #ffe400;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.specialRight h3 {
  color: #ffe400;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
.touchForm {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 4%;
}
.videou {
  width: 100%;
  margin: 25px;
}
.touchLeft h1 {
  font-size: 40px;
  color: black;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2rem;
}
.touchLeft {
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.touchRight {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px;
  /* text-align: center; */
}
.touchLeft span {
  color: #ffe400;
  letter-spacing: 0.2rem;
}
.touchRight h1 {
  font-size: 35px;
  color: black;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: 0.1rem;
  width: 100%;
}
.touchRight span {
  color: #ffe400;
  letter-spacing: 0.1rem;
}
.touchRight select {
  height: 60px;
  font-size: large;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 76%;
}
.touchRight input {
  height: 60px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: large;
  width: 75%;
}
.touchRight button {
  background-color: #ffe400;
  cursor: pointer;
  font-size: larger;
  padding: 15px;
  width: 50%;
  box-shadow: inset 0 0 0 0 #ffe400;
  transition: box-shadow 0.6s ease-in;
}
.touchRight button:hover {
  box-shadow: inset 0.5px 0.5px 40px 8px #2c2b25;
}
.preSale {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.saleHeadContainer {
  color: rgb(24, 23, 23);
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: 0.1rem;
}
.saleHeadContainer span {
  color: #ffe400;
}
.saleHeadContainer h5 {
  color: #4f4f4f;
  margin-top: -32px;
  font-size: large;
}
.saleCardContainer {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  grid-column-gap: 3%;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.saleCard {
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 14px;
  box-shadow: 0px 0px 0px 0px rgb(65, 65, 65);
  transition: all 0.3s ease;
}
.saleCard:hover {
  transform: translate(3px, -3px);
  box-shadow: -4px 4px 3px 0 rgb(65, 65, 65);
}
.saleCard h3 {
  margin-top: -1px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.saleCard button {
  margin-top: 0px;
  background-color: #ffe400;
  padding: 8px;
  font-size: large;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}
.comingSoon {
  text-align: center;
  background-color: black;
  padding: 20px;
  padding-bottom: 40px;
}
.comingSoonHead h4 {
  color: #ffe400;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  position: relative;
  bottom: 45px;
}
.comingSoonHead span {
  font-family: "Roboto Condensed";
  color: white;
  font-style: italic;
}
.locationInformation {
  color: #ffe400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: left;
  font-weight: lighter;
  line-height: 2;
  padding: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.locationInformation strong {
  color: white;
}
.comingSoonLocation {
  display: grid;
  grid-template-columns: 30% 45%;
  justify-content: center;
  margin-top: -70px;
}
.locationSlide {
  position: relative;
  /* border: 1px solid green; */
}
.locationDots {
  position: absolute;
  width: 100%;
  /* border: 1px solid red; */
  bottom: 17px;
}
.locationCurrDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.present,
.locationCurrDot:hover {
  background-color: #ffe400;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.animo {
  animation-name: animo;
  animation-duration: 1.5s;
}

@keyframes animo {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.gold {
  background-image: url(https://goldsgym.in/assets/frontend/css/workbaner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
}
.gold::before {
  background-color: rgba(0, 57, 97, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.goldHead h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: #ffe400;
  line-height: 0;
}
.goldHead span {
  font-family: "Roboto Condensed";
  color: white;
  font-style: italic;
}
.goldHead p {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  line-height: 0;
}
.goldHead {
  margin-top: -12px;
}
.goldGrid {
  padding: 30px;
  padding-bottom: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
  grid-row-gap: 10%;
  justify-content: center;
}
.goldGrid img {
  width: 60%;
}
.goldButton {
  padding: 20px;
  margin-top: 50px;
}
.goldButton a {
  border: 1px solid white;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffe400;
  color: black;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
@media screen and (max-width: 990px) {
  .header {
    background-color: black;
  }
  .header-navBar {
    display: none;
  }
  .header-button-box {
    display: none;
  }
  .firstLine {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: black;
    line-height: 0.6px;
  }
  .secondLine {
    font-family: "Times New Roman", Times, serif;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(235, 235, 22);
    padding: 10px;
  }
  .sketchContainer {
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 35% 35%;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    justify-content: center;
    margin-bottom: 50px;
  }
  .sketchImg {
    padding: 10px;
    text-align: center;

    font-size: 112x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(91, 89, 89);
  }
  .sketchImg img {
    width: 60%;
  }
  .training {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: white;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 6%;
    grid-row-gap: 10%;
    justify-content: space-around;
  }
  .trainingOption {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .specialLeft {
    width: 45%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .specialRight {
    width: 32%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .specialLeft h2 {
    font-size: 60px;
    color: #ffe400;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .specialLeft a {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ffe400;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    width: 44%;
    color: #ffe400;
    box-shadow: inset 0 0 0 0 #ffe400;
    transition: 0.6s ease-in;
  }
  .specialLeft a:hover {
    box-shadow: inset 20px 10px 120px 20px #ffe400;
    color: black;
    font-weight: 200;
  }
  .specialRight h2 {
    font-size: 35px;
    color: #ffe400;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .specialRight h3 {
    color: #ffe400;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
  }
  .touchForm {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .videou {
    width: 95%;
    margin: 25px;
  }
  .touchRight {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    /* text-align: center; */
  }
  .touchRight button {
    background-color: #ffe400;
    cursor: pointer;
    font-size: larger;
    padding: 15px;
    width: 30%;
    box-shadow: inset 0 0 0 0 #ffe400;
    transition: box-shadow 0.6s ease-in;
  }
  .touchRight button:hover {
    box-shadow: inset 0.5px 0.5px 40px 8px #2c2b25;
  }
  .comingSoonLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .comingSoonHead h4 {
    color: #ffe400;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: relative;
    line-height: 0px;
    padding-top: 25px;
  }
  .locationImg img {
    width: 85%;
  }
  .locationInformation {
    line-height: 1.5;
  }
  .goldHead h4 {
    font-size: 45px;
  }
  .goldHead p {
    font-size: 20px;
  }
  .goldGrid img {
    width: 90%;
  }
}
.latestEvent {
  text-align: center;
  background-color: white;
  padding: 20px;
}
.latestEventHead {
  font-size: xx-large;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}
.latestEventHead span {
  color: #e7d216;
  font-style: italic;
}
.eventCardContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.eventCardList {
  padding: 30px;
  text-align: left;
  width: 65%;
  overflow-x: hidden;
}
#motion {
  display: flex;
  transform: translate3d(0px, 0, 0);
  transition: transform 800ms ease;
}
.eventCard {
  padding: 30px;
  margin: 20px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 5px 10px 15px rgb(240, 239, 239);
  transition: transform 0.5s ease;
  border-radius: 10px;
}
.eventCard:hover {
  transform: translate(0px, -10px);
}
.eventCard img {
  width: 327px;
  height: 250px;
}
.eventCard h3 {
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.eventCard p {
  padding: 10px;
  color: black;
  text-align: center;
}
.blog {
  background-image: url(https://goldsgym.in/assets/frontend/css/workbaner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}
.blog::before {
  background-color: rgba(0, 57, 97, 0.76);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
}
.blogContainer {
  padding: 40px;
}
.blogHeader {
  padding: 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: xx-large;
  font-weight: lighter;
}
.blogContentContainer {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 5%;
  grid-row-gap: 8%;
  justify-content: space-around;
  position: relative;
  padding-bottom: 50px;
}
.blogDate {
  display: block;
  width: 54px;
  text-align: center;
  line-height: 1.4;
  padding: 10px;
  background-color: #ffe400;
  font-family: "Roboto", sans-serif;
  color: black;
}
.blogDate span {
  display: block;
  font-size: larger;
  font-weight: bold;
}
.blogAuthor {
  font-family: "Roboto", sans-serif;
}
.authorName {
  font-size: larger;
  line-height: 0;
  font-weight: lighter;
  letter-spacing: 0.5px;
}
.blogAbout {
  text-transform: uppercase;
  font-weight: 700;
  font-size: x-large;
  line-height: 1.3;
}
.blogAnswer {
  font-size: large;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogAuthor a {
  text-decoration: none;
  color: white;
  font-size: large;
  transition: color 0.3s ease;
}
.blogAuthor a:hover {
  color: rgb(255, 78, 78);
}
/* .fas::before {
  content: "";
  color: white;
} */
.testimonial {
  background-color: white;
  padding: 30px;
  padding-bottom: 40px;
  text-align: center;
  overflow-x: hidden;
}
.testimonialHeader {
  color: black;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.testimonialHeader h2 {
  font-size: 50px;
  color: #20201c;
  line-height: 0;
}
.testimonialHeader p {
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.7px;
  line-height: 1;
}
.quote {
  margin-left: -30px;
  color: #c0bfbf;
  padding-top: 18px;
  transform: rotate(180deg);
  transform: scale(12);
}
.testimonialContent {
  padding-top: 120px;
  text-align: center;
}
.quote::before {
  content: "\201D";
}
.circleContainer {
  display: flex;
  justify-content: center;
}
.circle {
  width: 150px;
  height: 150px;
  background-color: #c0bfbf;
  border-radius: 50%;
}
.testimonialAutoplay {
  color: rgb(118, 117, 117);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: larger;
  line-height: 1.5;
  padding-top: 30px;
}
.provider {
  color: rgb(118, 117, 117);
  font-size: large;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}
.testimonialDots {
  padding-top: 50px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.sixDots {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 4px;
  background-color: #e7d216;
}
.sixDots:hover,
.now {
  background-color: #f7de02;
  width: 18px;
  height: 18px;
}
.footer {
  background-image: url(https://goldsgym.in/assets/images/footer-bg.jpg);
  background-size: contain;
  padding: 10px;
}
.credits {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  padding-top: 120px;
}
.quickLinksContainer {
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.quickLinks {
  padding-left: 35px;
  color: #ffe400;
}
.links {
  display: flex;
}
.links li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: large;
  line-height: 2;
}
.mailContainer h2 {
  color: #ffe400;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
.mailContainer p {
  font-size: large;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.mailContainer label {
  border: 2px solid #fff;
  margin: 0;
  display: inline-block;
  width: 95%;
}
.mailContainer input {
  width: 80%;
  height: 51px;
  background: transparent;
  border: 1px solid black;
  border-right: none;
}
.mailContainer button {
  width: 18.5%;
  height: 100%;
  border: 1px solid black;
}
.mailContainer button::before {
  content: "\f054";
  color: black;
  background-color: white;
}
.appIcon ul {
  list-style: none;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  padding: 0;
  padding-top: 10px;
}
.appIcon li {
  /* display: inline; */
  margin-right: 10px;
  /* list-style: none; */
}
.fa-facebook:hover {
  background: #3b5998;
  color: white;
}

.fa-twitter:hover {
  background: #55acee;
  color: white;
}
.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}
.fa-youtube:hover {
  background: #bb0000;
  color: white;
}
.fa-instagram:hover {
  background: rgb(255, 34, 0);
  color: white;
}
.fa {
  background: white;
  color: rgb(0, 0, 0);
  padding: 13px;
  border-radius: 0px;
}
.latestNews {
  font-size: large;
}
.latestNews h2 {
  color: #ffe400;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}
.news {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.newsRight {
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
}
.newsRight a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.creditsGalleryHead h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: italic;
  margin: 40px 0px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.creditsGalleryHead {
  text-align: center;
}
.creditsGalleryHead h2::before {
  content: "";
  background: #eee;
  height: 1px;
  width: 38%;
  position: absolute;
  left: 0;
  top: 15px;
}
.creditsGalleryHead h2::after {
  content: "";
  background: #eee;
  height: 1px;
  width: 38%;
  position: absolute;
  right: 0;
  top: 15px;
}
.creditsSlidesContainer {
  padding-bottom: 30px;
  margin-top: 100px;
  overflow-x: hidden;
  padding: 50px;
}
#creditsSlidesItems {
  display: flex;
  justify-content: center;
  margin-left: 290px;
  transform: translate3d(0px, 0, 0);
  transition: transform 0.5s ease;
}
.creditsItems:hover {
  opacity: 1;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.master {
  opacity: 1;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.creditsItems {
  margin-right: 80px;
  opacity: 0.5;
}
.termsFooter {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1.4%;
  text-align: center;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  padding-bottom: 60px;
}
.reserved {
  margin-left: 12px;
}

.conditions a {
  text-decoration: none;
  color: white;
  font-size: large;
}
#scrollTop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e7d216;
  position: fixed;
  border: none;
  display: none;
  z-index: 100;
  color: black;
  cursor: pointer;
  font-size: 20px;
  bottom: 20px;
  right: 25px;
}
.scrollTop:hover {
  background-color: #ffe400;
}
/* .scrollTop::before {
  content: "\f106";
 
} */

@media screen and (max-width: 990px) {
  .credits {
    display: block;
    padding-top: 10px;
    margin-left: 40px;
  }
  .footer {
    background-image: none;
    background-color: #1d1324;
  }
  .quickLinksContainer {
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .quickLinks {
    padding-left: 0px;
  }
  .links {
    /* width: 100%; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-start;
  }
  .rightLinks ul {
    padding-left: 0;
    margin-left: 0;
  }
  .leftLinks {
    margin-right: 20px;
  }
  .leftLinks ul {
    padding-left: 0;
    margin-left: 0;
  }
  .links li {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
  }
  .links a {
    text-decoration: none;
    color: white;
    font-size: large;
    line-height: 2;
  }
  .mailContainer label {
    width: 80%;
  }
  .mailContainer input {
    width: 89.5%;
  }
  .mailContainer button {
    width: 10%;
  }
  .appIcon ul {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .news {
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .creditsGallery {
    padding-top: 30px;
  }
  .creditsSlidesContainer {
    margin-top: 70px;
  }
  .termsFooter {
    padding-bottom: 15px;
    grid-template-columns: 98%;
    /* overflow: scroll; */
    /* margin-top: 20px; */
    /* padding-bottom: 60px; */
  }
  .googleStore {
    margin: 10px;
  }
  .appleStore {
    margin: 10px;
  }
  .reserved {
    text-align: left;
  }
  .conditions {
    margin: 10px;
    text-align: right;
  }
  .classyNavbar {
    background-color: transparent;
    cursor: pointer;
  }
  .navbarToggler span {
    position: relative;
    background-color: #cccccc;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-top: 7px;
    margin-bottom: 2px;
    padding: 0;
    padding-top: 2px;
    transition-duration: 0.3s;
    width: 50px;
    cursor: pointer;
    right: 20px;
  }
  .navbarToggler.toggle span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 15px;
    background-color: white;
  }
  .navbarToggler.toggle span:nth-of-type(2) {
    opacity: 0;
  }
  .navbarToggler.toggle span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    top: -11px;
    background-color: white;
  }
}
@media screen and (max-width: 760px) {
  .header {
    position: sticky;
    top: 0;
    background-color: rgb(15, 15, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px;
    z-index: 500;
  }
  .header-logo img {
    width: 80%;
  }
  .firstLine {
    font-size: 30px;
  }
  .secondLine {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 38px;
  }
  .training {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .trainingOption img {
    width: 55%;
  }
  .offer {
    /* text-align: center; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* background-repeat: no-repeat; */
    width: 100%;
  }
  .offerContainer {
    padding-top: 60px;
    padding-bottom: 20px;
    /* margin-right: auto;
    margin-left: auto; */
    padding: auto;
    width: 85%;
  }
  .offer h1 {
    font-size: 26px;
  }
  .offer h2 {
    font-size: 26px;
  }
  .downloadAppContainer {
    display: block;
    padding: 35px;
    /* margin: 5px; */
  }

  .downloadApp {
    font-size: 15px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffe400;
    transition: 0.6s ease-in;
  }
  .specialLeft {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .specialRight {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .specialLeft h2 {
    font-size: 1.8rem;
    line-height: 1.3;
    color: #ffe400;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .specialLeft a {
    font-size: 18px;
    padding: 12px;
    width: 85%;
  }
  .specialRight h2 {
    font-size: 22px;
  }
  .specialRight h3 {
    font-size: 20px;
  }
  .videou {
    width: 90%;
    margin: 15px;
    height: 350px;
  }
  .touchLeft {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .touchRight {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid black;
    /* text-align: center; */
  }
  .touchRight input {
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: large;
    width: 75%;
  }
  .touchRight button {
    padding: 15px;
    width: 50%;
    margin-bottom: 10px;
  }
  .touchRight select {
    height: 45px;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 76%;
  }
  .saleCardContainer {
    display: grid;
    grid-template-columns: 92%;
    grid-row-gap: 5%;
    margin-bottom: 60px;
  }
  .saleCard {
    padding: 2px;
    padding-bottom: 8px;
  }
  .saleCard:hover {
    transform: translate(3px, -3px);
    box-shadow: -5px 5px 4px 0 rgb(65, 65, 65);
  }
  .saleCard h3 {
    padding: 8px;
  }
  .goldHead h4 {
    font-size: 2.4rem;
  }
  .goldHead p {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }

  .goldGrid {
    /* width: 100%; */
    padding: 0px;
    margin-right: 27px;
    padding-bottom: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 90%;
    grid-row-gap: 2%;
  }
  .goldGrid img {
    width: 110%;
  }
  .latestEvent {
    padding: 10px;
  }
  .latestEventHead {
    font-size: xx-large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3rem;
  }
  .latestEventHead span {
    color: #e7d216;
    font-style: italic;
  }
  .eventCardContainer {
    padding-bottom: 0px;
  }
  .eventCardList {
    padding: 30px;
    text-align: left;
    width: 90%;
    overflow-x: hidden;
  }
  #motion {
    display: flex;
    transform: translate3d(0px, 0, 0);
    transition: transform 800ms ease;
  }
  .blogContainer {
    padding: 30px;
  }
  .blogHeader {
    padding: 10px;
    font-size: x-large;
  }
  .blogContentContainer {
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;

    padding-bottom: 30px;
  }
  .mailContainer label {
    width: 75%;
  }
  .mailContainer input {
    width: 85%;
  }
  .mailContainer button {
    width: 14%;
  }
  .creditsGalleryHead h2::before {
    width: 30%;
  }
  .creditsGalleryHead h2::after {
    width: 30%;
  }
  .navbarToggler span {
    height: 3px;
    width: 45px;
    right: 10px;
  }
  .navbarToggler.toggle span:nth-of-type(1) {
    top: 15px;
  }
  .navbarToggler.toggle span:nth-of-type(3) {
    top: -9px;
  }
}
@media screen and (max-width: 500px) {
  .header-logo img {
    width: 95%;
    height: 40px;
  }
  .training {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 80%;
  }
  .training {
    padding-bottom: 50px;
  }
  .offer h1 {
    font-size: 22px;
  }
  .offer h2 {
    font-size: 18px;
  }
  .specialOfferContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  .specialLeft {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: -60px;
  }
  .specialRight {
    width: 90%;
    display: block;
  }
  .specialRight h2 {
    font-size: 22px;
  }
  .specialRight h3 {
    font-size: 18px;
  }
  .saleHeadContainer {
    font-size: 19px;
  }
  .saleHeadContainer h5 {
    margin-top: -10px;
  }

  .comingSoonHead h4 {
    font-size: 30px;
    padding-top: 40px;
  }
  .locationInformation {
    font-size: small;
    line-height: 1.4;
    padding: 15px;
  }
  .goldHead h4 {
    padding-top: 10px;
    font-size: 26px;
  }
  .goldHead p {
    font-size: 13px;
  }
  .goldButton a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }
  .latestEvent {
    padding: 5px;
  }
  .latestEventHead {
    font-size: 28px;
    letter-spacing: 0.1rem;
  }

  .eventCardContainer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
  .eventCardList {
    padding: 10px;
    width: 100%;
    margin-right: 32px;
  }
  .eventCard {
    padding: 0px;
    margin: 30px;
  }
  .eventCard img {
    width: 270px;
    height: 210px;
  }
  .eventCard h3 {
    color: black;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .eventCard p {
    padding: 10px;
    color: black;
    text-align: center;
  }
  #motion {
    display: flex;
    transform: translate3d(0px, 0, 0);
    transition: transform 800ms ease;
  }
  .blogContentContainer {
    grid-template-columns: 95%;
    grid-row-gap: 4%;
    justify-content: center;
    padding-bottom: 50px;
  }
  .blogContainer {
    padding: 50px;
  }
  .blogHeader {
    margin-top: -20px;
  }
  .testimonialHeader h2 {
    font-size: 40px;
    line-height: 0.4;
  }
  .testimonialHeader p {
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 0.6;
  }
  .testimonialAutoplay {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    line-height: 1.2;
    padding-top: 20px;
  }
  .mailContainer label {
    width: 90%;
  }
  .mailContainer input {
    width: 85%;
  }
  .mailContainer button {
    width: 14%;
  }
  .creditsGalleryHead h2::before {
    width: 20%;
  }
  .creditsGalleryHead h2::after {
    width: 20%;
  }
  .navbarToggler span {
    height: 1px;
    margin-top: 6px;
    margin-bottom: 2px;
    padding-top: 2px;
    width: 35px;
    right: 5px;
  }
  .navbarToggler.toggle span:nth-of-type(1) {
    top: 10px;
  }
  .navbarToggler.toggle span:nth-of-type(3) {
    top: -8px;
  }
}
@media screen and (max-width: 350px) {
  .firstLine {
    font-size: 26px;
  }
  .secondLine {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .specialLeft {
    margin-right: 20px;
  }
  .specialRight h2 {
    font-size: 20px;
  }
  .specialLeft h2 {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  .specialLeft a {
    font-size: 15px;
    padding: 10px;
    width: 70%;
  }
  .touchRight h1 {
    font-size: 28px;
  }
  .touchLeft h1 {
    font-size: 32px;
  }
  .touchRight button {
    font-size: medium;
    padding: 8px;
    width: 60%;
    margin-bottom: 10px;
  }
  .comingSoonHead h4 {
    font-size: 25px;
    padding-top: 25px;
    line-height: 1.2;
  }
  .locationImg img {
    width: 100%;
  }
  .goldHead h4 {
    padding-top: 10px;
    font-size: 26px;
    line-height: 1.3;
  }
  .goldHead p {
    font-size: 13px;
    line-height: 1.2;
  }
  .goldButton a {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }
  .goldGrid {
    /* width: 100%; */
    padding: 0px;
    margin-right: 60px;
    padding-bottom: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 85%;
    grid-row-gap: 2%;
    justify-content: center;
  }
  .goldGrid img {
    width: 140%;
  }
  #motion {
    display: flex;
    transform: translate3d(0px, 0, 0);
    transition: transform 800ms ease;
  }
  .eventCardContainer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-top: -35px;
  }
  .eventCardList {
    padding: 10px;
    width: 100%;
    margin-right: 32px;
  }
  .eventCard {
    padding: 5px;
    margin: 30px;
  }
  .eventCard img {
    width: 180px;
    height: 180px;
  }
  .eventCard h3 {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .eventCard p {
    padding: 5px;
    color: black;
    text-align: center;
  }
  .testimonialHeader h2 {
    font-size: 30px;
    line-height: 0.4;
  }
  .testimonialHeader p {
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 1.1;
  }
  .circle {
    width: 100px;
    height: 100px;
    background-color: #c0bfbf;
    border-radius: 50%;
  }
  .quote {
    margin-left: -30px;
    color: #c0bfbf;
    padding-top: 15px;
    transform: rotate(180deg);
    transform: scale(8);
  }
  .testimonialContent {
    padding-top: 40px;
    text-align: center;
  }
  .creditsGalleryHead h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: italic;
    margin: 40px 0px;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  .creditsGalleryHead h2::before {
    width: 18%;
  }
  .creditsGalleryHead h2::after {
    width: 18%;
  }
  .mailContainer label {
    width: 95%;
  }
  .mailContainer input {
    width: 78%;
  }
  .mailContainer button {
    width: 20%;
  }
  .appIcon {
    margin-top: 30px;
  }
  .appIcon ul {
    list-style: none;
    /* border: 1px solid red; */
    display: inline;
    /* justify-content: flex-start; */
    padding-top: 10px;
  }
  .appIcon li {
    display: inline;
    margin-right: 8px;
    line-height: 4;
    /* list-style: none; */
  }
  .credits {
    display: block;
    padding-top: 10px;
    margin-left: 5px;
  }
  .closeButton {
    padding-top: 30px;
    margin-top: 10px;
  }
  .closeButton span {
    height: 1px;
    padding: 1;
    width: 32px;
  }
  .closeButton span:nth-child(1) {
    top: 3px;
  }
  .sidebarOption {
    margin-left: 10px;
    font-size: 14px;
    /* border-bottom: 1px solid rgb(29, 28, 28); */
  }
}
